@using RhyoliteERP.Web.Helpers

@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> Rhyolite ERP – The leading Cloud ERP Platform </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rhyolite ERP – Saas ERP Platform" />
    <meta name="keywords" content="School Management,Terminal Reports Automation, Saas ERP Platform, Accounting " />
    <meta content="RhyolitePrime" name="author" />
    <!-- favicon -->
    <link href="https://res.cloudinary.com/rhyoliteprime/image/upload/v1677481688/rhyolite/favicon.ico" rel="shortcut icon">
    <link href="https://res.cloudinary.com/rhyoliteprime/image/upload/v1677481762/rhyolite/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- WOW Animation -->
    <link href="~/assets/public/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap css -->
    <link href="~/assets/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Slick Slider -->
    <link href="~/assets/public/css/slick.css" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="~/assets/public/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/public/css/line-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/public/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Main css File -->
    <link href="~/assets/public/css/style.css" rel="stylesheet" type="text/css" id="theme-default" />
    <link href="~/assets/public/css/rtl-style.css" rel="stylesheet" type="text/css" id="rtl-theme-default" disabled="disabled" />
    <link href="~/assets/public/css/colors/default-color.css" rel="stylesheet" type="text/css" id="theme-color" />
</head>
<body>
    <!-- box-wrapper -->
    <div class="box-wrapper">

        <!-- Nav Bar -->
        <header id="master-head" class="navbar menu-center">
            <div class="container-fluid">
                <div id="main-logo" class="logo-container">
                    <a class="logo" href="@Url.Action("Index", "Home")">
                        <img src="https://res.cloudinary.com/rhyoliteprime/image/upload/v1676365656/rhyolite/rhyoliteprime-logo-05.png" class="logo-dark" alt="RhyolitePrime">
                    </a>
                </div>
                <div class="menu-toggle-btn">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="burger-lines">
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
                <div id="navigation" class="nav navbar-nav navbar-main">
                    <ul id="main-menu" class="menu-primary">

                        <li class="menu-item @Html.IsActive(ViewContext, new[] {"Home"}, new []{"Index"})"><a href="@Url.Action("Index", "Home")"> Home </a></li>
                        <li class="menu-item @Html.IsActive(ViewContext, new[] {"Home"}, new []{"About"})"><a href="@Url.Action("About", "Home")"> About </a></li>
                        <li class="menu-item @Html.IsActive(ViewContext, new[] {"Home"}, new []{"ContactUs"})"><a href="@Url.Action("ContactUs", "Home")"> Contact Us </a></li>
                        @* <li class="menu-item @Html.IsActive(ViewContext, new[] {"Home"}, new []{"Careers"})"><a href="@Url.Action("Careers", "Home")"> Careers </a></li>*@


                    </ul>
                </div>
                <div class="navbar-right">
                    <div class="menu-button">
                        <a href="@Url.Action("SignIn", "Account")" target="_blank">
                            <div class="btn btn-primary">sign in</div>
                        </a>
                    </div>

                </div>
            </div>
        </header>
        <!-- Nav Bar -->
        <!-- Main Wrapper -->
        <div id="main-wrapper" class="page-wrapper">
            <div class="inner-page-header section-padding style-dark">
                <div class="container">
                    <div class="page-title-inner text-center clearfix">
                        <div class="heading-wrapper">
                            <h1 class="h1">About Us</h1>
                            <div class="lead-text">
                                @* <p>What makes a great company ? It's really easy. It's also the people that are working here.</p> *@
                            </div>
                        </div><!-- End Heading -->
                        <ul class="st-breadcrumb">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="active"><span>About Us</span></li>
                        </ul><!-- End Breadcrumb -->
                    </div><!-- Page Title Inner -->
                </div>
            </div>
            <!-- Page Header -->
            <div class="about-section section-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 wow fadeInLeft">
                            <div class="heading-wrapper with-separator">

                                <h2 class="h1">We are providing the <span>modern solutions</span></h2>
                            </div><!-- End Heading -->
                        </div><!-- End Col -->
                        <div class="col-lg-6">
                            <div class="text-wrapper">
                                <p class="lead-text"> RhyolitePrime is a leading innovator in cloud ERP and other cutting edge solutions in business process automation. RhyolitePrime provides a range of integrated business management applications, designed to help mid-sized and large companies thrive in today’s digital economy. </p>

                                <p>
                                    As part of our commitment in providing sustainable business automation for Small, Medium and Large Enterprises, We focus on providing sustainable initiatives in the field of banking, insurance, retailing, logistics, telecommunications and agricultural industries. Thus implementing systems that enforces reliability, efficiency and general automation for business processes at large.
                                
                                </p>

                            </div>
                            <div class="btn-wrapper">
                                <a class="btn btn-primary" href="@Url.Action("Register", "Account")"> Purchase Now </a>
                            </div>
                        </div><!-- End Col -->
                    </div><!-- End Row -->
                </div>
            </div><!-- About Section -->
            <div class="section-padding light-gradient-bg">
                <div class="container">
                    <div class="row clearfix justify-content-center">
                        <div class="col-lg-10">
                            <div class="heading-wrapper text-center with-separator">
                                <h2 class="h1">Why choose <span> RhyoliteERP </span> </h2>
                                <div class="lead-text">
                                    <p>We have an innovation that supports your business growth.</p>
                                </div>
                            </div>
                            <!-- End Heading -->
                        </div><!-- End Col -->
                    </div><!-- End Row -->
                    <div class="row clearfix">
                        <div class="col-lg-4">
                            <div class="icon-box theme-one wow fadeInLeft">
                                <div class="icon">
                                    <img src="~/assets/public/images/default-color/icon-6-light.svg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Innovative</h4>
                                    <p> Fortified with intelligent functionalities that helps growing companies see and connect every facet of their business in the cloud.</p>
                                </div>
                            </div>
                        </div><!-- End Col -->
                        <div class="col-lg-4">
                            <div class="icon-box theme-one wow fadeInUp">
                                <div class="icon">
                                    <img src="~/assets/public/images/default-color/icon-5-light.svg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Affordable</h4>
                                    <p>You’re under no obligation to fork out for expensive new equipment. Take advantage of a subscription-based pricing model that suits your business</p>
                                </div>
                            </div>
                        </div><!-- End Col -->
                        <div class="col-lg-4">
                            <div class="icon-box theme-one wow fadeInRight">
                                <div class="icon">
                                    <img src="~/assets/public/images/default-color/icon-7-light.svg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Excellent Support</h4>
                                    <p>We provide 24/7 direct support to our customers. We have also have a thriving online community and comprehensive training resources</p>
                                </div>
                            </div>
                        </div><!-- End Col -->
                    </div><!-- End Row -->
                    <div class="row clearfix">
                        <div class="col-lg-12 text-center">
                            <div class="btn-wrapper">
                                <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-large">Get Started For Free</a>
                            </div>
                        </div><!-- End Col -->
                    </div><!-- End Row -->
                </div>
            </div><!-- Our Approach Section -->
            <!-- Fun Fact Section -->
            <div class="faq-section section-padding" id="faqsection">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 wow fadeInLeft">
                            <div class="heading-wrapper with-separator">
                                <h2 class="h1">Frequently Asked <span>Questions</span></h2>
                            </div><!-- End Heading -->
                        </div><!-- End Col -->
                        <div class="col-lg-7">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading0">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">What is RhyoliteERP SaaS? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                        <div class="panel-body">
                                            <p> For many small and midsize businesses, deploying Software as a Service (SaaS) provides the benefits of an enterprise-class solution without the enterprise IT budget.  When RhyoliteERP is deployed via SaaS, your RhyoliteERP system is hosted on Amazon Web Services (AWS) or Digital Ocean and can be accessed from any web browser on any Internet-connected device.</p>
                                            <p> You can pay as you go, and easily scale resources up or down based on growth or changing business needs. Free yourself from the complexities and costs of managing hardware and maintaining software. Additionally, a SaaS deployment enables RhyolitePrime to ensure the highest levels of security, availability, and performance.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading1">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1"> What does RhyolitePrime manage on my behalf with my SaaS subscription?</a>
                                        </h3>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                        <div class="panel-body">
                                            <p>
                                                RhyolitePrime manages the work involved in setting up and provisioning the application, as well as configuring the initial environment for you to access your RhyoliteERP SaaS instance. Once your RhyoliteERP environment is accessible, RhyolitePrime automates common administrative tasks, such as performing backups, software updates, and continuous monitoring and tuning, including multi-homed internet and power backup.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading2">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2"> Why should I use RhyoliteERP SaaS (public cloud) instead of a private cloud version and host it on my own? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                        <div class="panel-body">
                                            <p>
                                                RhyoliteERP SaaS includes a range of benefits that comes along standard with your subscription. These benefits are provided by RhyoliteERP using its trusted Web Services like AWS, are backed by our SLA, and surpasses the benefits you would gain from most external hosting providers.
                                            </p>
                                            <p>

                                                This includes disaster recovery, backup service, 24/7 access, high availability, monitoring, software updates, and application maintenance. Please contact your partner for an overview of your options. For private cloud deployments, RhyolitePrime offers Private Cloud Subscription (PCS) license model.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading3">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3"> How do I access my Rhyolite SaaS ERP solution? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                        <div class="panel-body">
                                            <p>
                                                We will provide you with a URL to your Rhyolite SaaS ERP solution, accessible from any web browser on any device with an Internet connection. Once you sign up with your business details, you can login with your credentials and begin operations.
                                            </p>
                                            <p>
                                                You can also apply for a semi-custom domain that preixes your business name in the format xxx.rhyoliteprime.com. However, we can also help you create a custom domain URL (www.yourdomain.com) if you provide us with your SSL certificate.

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading4">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4"> What is a maintenance window? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                        <div class="panel-body">
                                            <p>
                                                RhyolitePrime may carry out scheduled maintenance, or in rare circumstances, unscheduled maintenance. Scheduled maintenance is usually communicated with at least a week’s advance notice. The scheduled maintenance window averages less than 30 minutes each week, and typically occurs during non-peak hours or weekends. Scheduled maintenance does not count against the uptime guarantee.
                                            </p>
                                            <p>
                                                From time to time, unscheduled maintenance may be required. RhyolitePrime will attempt to notify you in advance of any unscheduled maintenance event. Unscheduled maintenance counts against the uptime guarantee.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading5">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5"> Will my RhyoliteERP SaaS be available during software maintenance? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                        <div class="panel-body">
                                            <p>
                                                In most situations, maintenance will require us to disable access temporarily while we perform maintenance activities. RhyolitePrime makes every effort to minimize downtime during such events.
                                            </p>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading6">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6"> How will I be charged and billed for my use of RhyoliteERP SaaS? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                        <div class="panel-body">
                                            <p>
                                                RhyoliteERP is sold exclusively with monthly or annual billing options. In most cases, your bill will come directly via mail or via Rhyolite Wallet debits. You are billed based on:
                                            </p>
                                            <ul class="list-style-one">
                                                <li> <strong> Subscription fee:</strong> RhyolitePrime charges an annual subscription fee based on the edition (Standard, Advanced and Enterprise), functional modules (financials, inventory, CRM,), and SaaS Consumption ( primarily commercial transaction volume). This fee includes updates and upgrades, hosting costs, backups, and additional SaaS benefits such as built-in automated disaster recovery.</li>
                                                <li> <strong> Additional storage: </strong> When you reach 90% of your pre-purchased storage limit, we notify your partner that you should look into expanding your storage capacity. Your partner will work with you on expansion options. When you scale your provisioned storage capacity, your bill will be pro-rated for the remaining term of your contract. For pricing information, or for information on services provided, please contact your RhyolitePrime Creation Limited.  </li>
                                                <li> <strong>Support and services: </strong> Implementation and support services are billed directly via the agreed subscription model. Customers may also purchase a direct support plan from RhyolitePrime which will be included on your monthly or annual bill.</li>
                                                <li> <strong> Third-party software: </strong> Several ISV marketplace solutions can be purchased directly from RhyolitePrime and will appear on your bill. </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading7">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7"> When does billing of my RhyoliteERP SaaS begin and end? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                        <div class="panel-body">
                                            <p>
                                                We usually provision new service instances within 1 business day from the date of your purchase agreement/invoice with your partner. Occasionally, this may take up to a maximum of 5 business days. Each module subscription has an expiration date based on the number of months or years purchased. The subscription service renews your subscription at the end of every month using funds from your RhyolitePrime Wallet.
                                            </p>
                                            <p>
                                                If there are no funds available in your Rhyolite Wallet, you will be notified to manually topup your wallet to be debited later.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading8">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse"> What if I have an existing RhyoliteERP SaaS subscription that I’d like to switch to a Private Cloud Subscription (PCS) license? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                        <div class="panel-body">
                                            <p>
                                                With RhyoliteERP, you can switch license or subscription type easily. Typically, the switching process takes between 3 to 7 business days. Please work with any of our support staff to help migrate you. You can also send a direct mail to RhyolitePrime to provide finer details of your request. We will perform the necessary operations at no cost.
                                            </p>

                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading9">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse"> Can I cancel my cloud service? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                        <div class="panel-body">
                                            <p>
                                                Yes. After your first year, you can cancel your RhyoliteERP SaaS service at the time of your SaaS renewal. We require a minimum of 30 days written notice prior to termination or change in any aspect of your RhyoliteERP SaaS license.
                                            </p>

                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading10">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse"> What should I do if my RhyoliteERP system seems to be running slow? </a>
                                        </h3>
                                    </div>
                                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                        <div class="panel-body">
                                            <p>
                                                If you are facing urgent connectivity issues (unable to connect or login to the system), please report it as soon as possible at <a href="@Url.Action("ReportAnIssue", "Home")"> Report an Issue</a>
                                            </p>
                                            <p>
                                                For other issues with speed or connectivity, please contact our support engineers via our contact and help lines. We will work with them to investigate and resolve your issue.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Col -->
                    </div><!-- End Row -->
                </div>
            </div>
            <!-- FAQ Section -->
        </div>
        <!-- Main Wrapper -->
        <footer class="site-footer footer-theme-two">
            <div class="container">
                <div class="main-footer style-dark">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="text-widget">
                                    <div class="about-info">
                                        @*
                                                  <div class="image-wrapper">
                                                <img src="~/assets/public/images/logo-no-bg.png" alt=""/>
                                            </div>

                                        *@

                                        <p> RhyolitePrime is software consulting and product development company which specializes in delivering cutting edge solutions in business process automation and customized application development. We implement systems that enforces reliability, efficiency and general automation for businesses processes at large.</p>
                                    </div>
                                    <div class="playstore-widget">
                                        <h3>Download the App</h3>
                                        <ul>
                                            @*   <li class="google"><a href="#">Google Play</a></li>
                                                <li class="apple"><a href="#">App Store</a></li> *@
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- End Widget -->
                        </div><!-- End Col -->
                        <div class="col-lg-2">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3 class="title">Useful Links</h3>
                                </div>
                                <div class="text-widget">
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="#"> Documentation </a></li>
                                            <li><a href="@Url.Action("ContactUs", "Home")"> Contact Us </a></li>
                                            <li><a href="@Url.Action("About", "Home")"> About Us</a></li>
                                            <li><a href="#">Terms of Service</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- End Widget -->
                        </div><!-- End Col -->
                        <div class="col-lg-2">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3 class="title">Support</h3>
                                </div>
                                <div class="text-widget">
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="https://api.rhyoliteprime.com" target="_blank">API</a></li>
                                            <li><a href="@Url.Action("About", "Home")#faqsection">FAQ</a></li>
                                            <li><a href="#">Community</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- End Widget -->
                        </div><!-- End Col -->
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3 class="title">Stay Updated</h3>
                                </div>
                                <div class="text-widget">
                                    <div class="contact-info">
                                        <ul>
                                            <li class="email-field">info@rhyoliteprime.com</li>
                                            <li class="phone-field">+(233) 30-291-9357</li>
                                            <li class="address-field">Pentecost Signboard, Off Ablekuma-Awoshie, Accra</li>
                                        </ul>
                                    </div>
                                    @*
                                             <div class="social-media-links">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/sacredthemes/"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a target="_blank" href="https://www.linkedin.com/company/sacredthemes/"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a target="_blank" href="https://twitter.com/SacredThemes"><i class="fab fa-twitter"></i></a></li>
                                            </ul>
                                        </div>

                                    *@

                                </div>
                            </div><!-- End Widget -->
                        </div><!-- End Col -->
                    </div><!-- End Row -->
                </div>
                <div class="copyright-bar style-dark">
                    <div class="copyright-text text-center">

                        © Copyright RhyoliteERP @DateTime.Now.Year.
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!--search-form-->
    <!-- javascript -->
    <script src="~/assets/public/js/jquery.min.js"></script>
    <script src="~/assets/public/js/jquery-migrate.min.js"></script>
    <script src="~/assets/public/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/public/js/jquery.easing.min.js"></script>
    <script src="~/assets/public/js/scrollspy.min.js"></script>
    <script src="~/assets/public/js/appear.js"></script>
    <!-- WOW Animation -->
    <script src="~/assets/public/js/wow.min.js"></script>
    <!-- Slick Slider -->
    <script src="~/assets/public/js/slick.min.js"></script>
    <!-- Main Js -->
    <script src="~/assets/public/js/dcode.js"></script>
</body>

</html>